<app-modify-content-component (newContentEvent)="addContentToList($event)"></app-modify-content-component>


<div class="search">
    <input #search>
    <button (click)="checkTitle(search.value)">Look For Card</button>
    <h3 class="success" *ngIf="theflag">Card Found</h3>
    <h3 class="fail" *ngIf="theflag == false">Card Found</h3>   <!-- only show the fail is the flag is actually false. Don't show it if it's null or undefined -->  
</div>
<app-content-card appHoverAffect elementType="card" [first]="isitreallythefirstthing" [last]="isLast" *ngFor="let item of (Content | typeFilter: ''); first as isitreallythefirstthing; last as isLast" [class.first-thing]="isitreallythefirstthing"
[content]="item" class="notype" [class.found]="item.title == search.value"></app-content-card>

<app-content-card appHoverAffect elementType="card" [first]="isitreallythefirstthing" [last]="isLast" *ngFor="let item of (Content | typeFilter: 'Red'); first as isitreallythefirstthing; last as isLast" [class.first-content]="isitreallythefirstthing"
[content]="item" class="Blue" [class.found]="item.title == search.value"></app-content-card>

<app-content-card appHoverAffect elementType="card" [first]="isitreallythefirstthing" [last]="isLast" *ngFor="let item of (Content | typeFilter: 'Green'); first as isitreallythefirstthing; last as isLast" [class.first-content]="isitreallythefirstthing"
[content]="item" class="Red" [class.found]="item.title == search.value"></app-content-card>

<app-content-card appHoverAffect elementType="card" [first]="isitreallythefirstthing" [last]="isLast" *ngFor="let item of (Content | typeFilter: 'Black'); first as isitreallythefirstthing; last as isLast" [class.first-content]="isitreallythefirstthing"
[content]="item" class="White" [class.found]="item.title == search.value"></app-content-card>

<app-content-card appHoverAffect elementType="card" [first]="isitreallythefirstthing" [last]="isLast" *ngFor="let item of (Content | typeFilter: 'Blue'); first as isitreallythefirstthing; last as isLast" [class.first-content]="isitreallythefirstthing"
[content]="item" class="Black" [class.found]="item.title == search.value"></app-content-card>

<app-content-card appHoverAffect elementType="card" [first]="isitreallythefirstthing" [last]="isLast" *ngFor="let item of (Content | typeFilter: 'White'); first as isitreallythefirstthing; last as isLast" [class.first-content]="isitreallythefirstthing"
[content]="item" class="Green" [class.found]="item.title == search.value"></app-content-card>